* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #FFE2F3; */
    background-image: url('images/pattern.png');
    border-top: 5px solid #e2ffee;
}

.container-content {
    background-color: #fff;
    margin: 0 auto;
    width: 70%;
    padding: 1rem;
    text-align: center;
    margin-bottom: 3rem;
}

/* projects */



.row{
    margin: 0 auto;
    justify-content: center;
}

.card {
    margin: 1rem 1rem;
}

.btn {
    padding: .5rem 2rem;
    border: 2px solid #ffe2f3;
    background-color: #E2FFEE;
    font-size: 1.3rem;
}

.btn:hover {
    transition: 1s;
    background-color: #ffe2f3;
}