@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans|Uncial+Antiqua&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Merriweather Sans', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#hero {
  height: 100vh;
  background-image: url("images/gbvs-background.jpg");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0E100F;
}

#hero .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero .hero-content h1 {
  font-size: 3rem;
  font-family: 'Uncial Antiqua', cursive;
}

#hero .hero-content p {
  font-size: 2rem;
}

#hero .hero-picture {
  width: 90%;
  height: auto;
}

#hero .hero-btn {
  text-decoration: none;
  padding: .75rem 3rem;
  background-color: #B80900;
  color: #fff;
  border-radius: 25px;
}

#hero .hero-btn:hover {
  -webkit-transition: 1s;
  transition: 1s;
  background-color: #75B24A;
}

#about {
  padding: 2rem;
  line-height: 1.6;
  background-image: url("images/bg_menu_pc.jpg");
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#tournaments {
  margin-top: 4rem;
}

#tournaments h1 {
  text-align: center;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  margin: 1rem 1rem;
}

.card-img-top {
  padding: 1rem;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.evo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 600px) {
  #about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about-tour {
    width: 30rem;
  }
}
/*# sourceMappingURL=main.css.map */