$dark-blue: #17ACBC;
$light-blue: #76E3F1;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

// hero section
.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color:  rgba(0, 0, 0, .80);
    color: #fff;
    height: 100vh;
    border-top: 5px solid $light-blue;

    .hero-img {
        max-width: 100%;
    }

    .hero-buttons {
        display: flex;
        
    }
  
    .hero-btn {
        text-decoration: none;
        margin: 1rem;
        background-color: $dark-blue;
        padding: .5rem 3rem;
        border-radius: 30px;
        color: #fff;
        font-size: 1.35rem;
    }
}

.bg-video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

// team

.row {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.rider {
    margin: 1rem;
    cursor: pointer;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: $dark-blue;

  }

  .overlay-content {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .rider:hover .overlay {
    opacity: .55;
  }
  

.rider img {
    height: auto;
    width: 100%;
}


// media queries
@media(min-width: 700px) {
    .row {
        display: flex;
        flex-direction: row;
    }
}