* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// hero section

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color:  rgba(0, 0, 0, .5);
    color: #fff;
    height: 100vh;
}

.bg-video {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
